body{
	background-image:url('./img/bg2.jpg');
	background-color:red;
	padding:0;
	margin:0;
	background-size:cover;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
}
#header{
	background-color:#000;
	height:100px;
	margin:0 0 0 0;
	padding:0px;
}

#logo{
	position: relative;
	top:12.5px;
	background-image:url(./img/r6-logo.png);
	height:75px;
	width:300px;
	margin:0px auto;
	background-repeat: none;
	background-size:cover;
	
}

#Container{
	border:2px solid #333740;
	background-color:green;
	margin:75px auto;
	height:750px;
	width:90%;
	padding:0;
}
#InputContainer{
	background-color:#0d0d0d;
	border-right:2px solid #333740;
	border-top:2px solid #333740;
	width:250px;
	height:648px;
	margin:0;
	float:left;
}

#tabContainer{
	background-color:red;
	background-color:#292c33;
	width:auto;
	height:20px;
	border:2px solid #ccc;
	text-align: center;
}

.tab{
	width:calc(100%/3);
	color:#ccc;
	height:20px;
	float:left;
	background-color:#292c33;
	border:none;
	outline:none;
	cursor:pointer;
}

.tab:nth-child(2){
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
}

.tab:hover{
	color:#fff;
}

.tabContent{
	display:none;
}

#FormContainer h2, #FormContainer_Register h2, #FormContainer_Login h2{
	margin:0 auto 10px auto;
	text-align: center;
	color:#ccc;
	padding:0;
}
#FormContainer, #FormContainer_Register, #FormContainer_Login{
	background-color:#292c33;
	margin:180px 0;
	padding:0px 0;
	border:2px solid #ccc;
}

#FormContainer input,#FormContainer_Register input, #FormContainer_Login input{
	background-color:#1a1d22;
	border:2px solid #ccc;
	margin:0 0 10px 40px;
	color:#ccc;
}

#FormContainer button, #FormContainer_Register button, #FormContainer_Login button{
	background-color:#1a1d22;
	border:2px solid #ccc;
	margin:0 0 20px 90px ;
	color:#ccc;
	cursor:pointer;
}

#FormContainer input::placeholder, #FormContainer_Register input::placeholder, #FormContainer_Login input::placeholder{
	color:#666;
}

#displayContainer{
	float:right;
	background-image:url('./img/bg.jpg');
	border-top:2px solid #333740;
	width:calc(100% - 252px);
	height:648px;
	display: flex;
  	flex-wrap: nowrap;
  	overflow-x: auto;
  	overflow-y: hidden;
}
.opsContainer{
	position:;
	height:550px;
	margin:50px 50px;
	width:300px;
	background-color:#0d0d0d;
	float:left;
	flex: 0 0 auto;
	border:2px solid #333740;
}

.opsContainer button{
	background-color:#1a1d22;
	border:2px solid #ccc;
	margin:0 10px;
	color:#ccc;
	cursor:pointer;
}
.opsContainer button:first-of-type{
	margin:0 0 0 85px;

}
.opsContainer span{
	color:white;
	font-family: Arial, Helvetica, sans-serif;
}

.OpsHeaderContainer{
	width:100%;
	height:250px;
}

.OpsHeaderContainer h3{
	position:relative;
	top:40px;
	text-align:center;
	margin: 0 auto;
	width:250px;
	font-size:20px;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
}
.icon{
	width:175px;
	height:175px;
	margin:0 60px;
	position:relative;
	top:25px;
}

.info{
	border-top:1px solid #333740; 
	border-bottom:1px solid #333740; 
	width:100%;
	height:75px;
	margin:10px 0;
}

.info span{
	float:left;
	font-size:20px;
	margin:25px 10px;
	text-align:center;
}
.smallerIcon{
	width:50px;
	height:50px;
	margin:0 0;
	top:12.5px;
	right:12.5px;
	position:relative;
	float:right;
}


/* width */
#displayContainer::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#displayContainer::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
#displayContainer::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
#displayContainer::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
